@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer {

  .App {
    @apply flex flex-row flex-wrap justify-center items-start;
  }

  .task {
    @apply min-w-[400px] mx-auto rounded-xl p-5 my-5 bg-purple-100;
  }

  .component {
    @apply flex flex-col my-3 text-center;
  }

  .row {
    @apply flex-row justify-between items-center;
  }

  span{
    @apply mx-1
  }

}